
# ignore file
.idea

documents/~$gan_Onur_AmazonReader_Rapport.docx
documents/~$Dogan_Onur_AmazonReader_Planification_V1.xlsx
documents/~$Dogan_Onur_AmazonReader_Planification_V2.xlsx
documents/~$gan_Onur_Journal_de_Travail.docx